NODE_ENV=development
PORT=7000
MONGODB_URI=mongodb://localhost:27017/whoply
JWT_SECRET=change-me-to-a-long-random-secret-min-32-chars
JWT_EXPIRES_IN=7d
APP_NAME=Whoply
ADMIN_URL=http://localhost:7300
APP_URL=http://localhost:7200
FRONT_URL=http://localhost:7100
